@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: #99C1B9;
  color: rgb(243, 240, 240);
  text-align: center;
}

.hide {
  display: none;
}

.welcome-logo {
  font-size: 10em;
  color: #F4EBDC;
}

.welcome-container {
  margin-top: 200px;
  padding: 50px;
  background: #a58d8d;
  border-radius: 40px;
  border: 10px solid #032B56;
  justify-content: center;
}

.welcome-button {
  margin-top: 41px;
  
}
#app {
  display: flex;
  justify-content: center;
}